<div class="bg-footer-gray">
    <div class="container">
          <div class="row">
              <div class="col-md-6 mt-4">
                    <img class="footer-logo" src="../img/Coway-CI-blue.png">
                    <span class="footer-coway-catalog">Coway E-Catalogue</span>
                    <br>
                    <br>
                    <p class="text-company">
                    บริษัท โคเวย์ (ประเทศไทย) จำกัด (สำนักงานใหญ่) <br>
                    อาคารโอเชี่ยนทาวเวอร์ 2 ชั้น 38 ซอยสุขุมวิท 19 (วัฒนา) ถนนสุขุมวิท <br>
                    แขวงคลองเตยเหนือ เขตวัฒนา กรุงเทพฯ 10110 โทร : 1421
                    </p>
              </div>
          </div>
    </div>
</div>
<div class="bg-footer">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="mt-4">
                <a class="link-homepage" href="https://coway.co.th/">
                  <i class="fas fa-home"></i> Homepage</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="link-homepage" target="_blank" href="https://www.facebook.com/CowayThailandOfficial">
                  <i class="fas fa-share-square"></i> Social Media</a>
              </div>
          </div>  
          <div class="col-md-7">
            <h5 class="text-copyright mt-4">© 2022 Coway(Thailand) Co.,Ltd. ALL RIGHTS RESERVED.</h5>
          </div>  
      </div>
  </div>
</div>